.input-container {
    flex-direction: column;
    display: flex;
}

.input-container input {
    border: none;
    border-bottom: 1px solid var(--text-color);
    flex: 1;
    font-size: 1.2em;
    outline: none;
    padding: 0.5em;
    background-color: #fff0;
}

.input-container input:focus {
    border-bottom: 2px solid var(--text-color);
}